@import "app.scss";

#main {
    padding: 1em;
    max-width: 1024px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    form {
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
        }
    }

    .uk-icon-spinner {
        font-size: 200%;
        vertical-align: -20%        
    }

    #main-component {
        &.fade-transition {
            transition: all 0.3s ease;
            opacity: 1;            
        }

        &.fade-enter, &.fade-leave {
            opacity: 0;
        }
    }
}